{% extends "base.html" %}

{% block content %}

    <h1>Add customer</h1>

    <form method="post" action=".">
        {% csrf_token %}
        <div class="col-md-4">
            <fieldset>
                <legend>Customer</legend>
                <div class="form-group">
                    {{ form.name.errors }}
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div class="form-group">
                    {{ form.doc.errors }}
                    {{ form.doc.label_tag }}
                    {{ form.doc }}
                </div>
                <div class="form-group">
                    {{ form.email.errors }}
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.phone.errors }}
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                </div>
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset>
                <legend>Address</legend>
                {{ address_form.management_form }}
                {{ address_form.non_form_errors }}
                {% for form in address_form|slice:":1" %}
                    {{ form.id }}
                    <div class="inline {{ address_form.prefix }}">
                        <div class="form-group">
                            {{ form.street.errors }}
                            {{ form.street.label_tag }}
                            {{ form.street }}
                        </div>
                        <div class="form-group">
                            {{ form.number.errors }}
                            {{ form.number.label_tag }}
                            {{ form.number }}
                        </div>
                        <div class="form-group">
                            {{ form.district.errors }}
                            {{ form.district.label_tag }}
                            {{ form.district }}
                        </div>
                        <div class="form-group">
                            {{ form.city.errors }}
                            {{ form.city.label_tag }}
                            {{ form.city }}
                        </div>
                        <div class="form-group">
                            {{ form.state.errors }}
                            {{ form.state.label_tag }}
                            {{ form.state }}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset id="sites">
                <legend>Sites <a href="javascript:void(0);" id="add_site">+</a></legend>
                {{ site_form.management_form }}
                {{ site_form.non_form_errors }}
                {% for form in site_form %}
                    {{ form.id }}
                    <div class="inline {{ site_form.prefix }}">
                        <div class="form-group">
                            {{ form.url.errors }}
                            {{ form.url.label_tag }}
                            {{ form.url }}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Add customer" class="submit btn btn-default" />
        </div>
    </form>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_doc").mask("999.999.999-99");
            $('#id_phone').mask("(99) 9999-9999?9").ready(function(event) {
                var target, phone, element;
                target = (event.currentTarget) ? event.currentTarget : event.srcElement;
                phone = target.value.replace(/\D/g, '');
                element = $(target);
                element.unmask();
                if(phone.length > 10) {
                    element.mask("(99) 99999-999?9");
                } else {
                    element.mask("(99) 9999-9999?9");  
                }
            });

            var count = 3;

            $('#add_site').click(function(){
                html = '<input id="id_site_set-'+count+'-id" name="site_set-'+count+'-id" type="hidden">' +
                        '<div class="inline site_set">' +
                            '<div class="form-group">' +
                                '<label for="id_site_set-'+count+'-url">Url:</label>'+
                                '<input class="form-control" id="id_site_set-'+count+'-url" maxlength="200" name="site_set-'+count+'-url" type="url">' +
                            '</div>' +
                        '</div>';
                count++;
                $('#id_site_set-TOTAL_FORMS').val(count);
                $('#sites').append(html);
            });

        });
    </script>
{% endblock %}