{% extends "base.html" %}

{% block content %}

    <h1>Customer list</h1>

    {% if customer_list %}
        <div class="row">
        {% for customer in customer_list %}
            {% if forloop.counter0|divisibleby:3 %}
                </div>
                <div class="row">
            {% endif %}
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ customer.name }}</dd>
                    <dt>Doc</dt>
                    <dd>{{ customer.doc }}</dd>
                    <dt>Phone</dt>
                    <dd>{{ customer.phone }}</dd>
                    <dt>Email</dt>
                    <dd>{{ customer.email }}</dd>
                    <dt>Endereço</dt>
                    <dd>
                    {% for address in customer.get_address %}
                        <ul class="list-unstyled">
                            <li>{{ address.street }}, {{ address.number }} - {{ address.district }} - {{ address.city }}, {{ address.state }}</li>
                        </ul>
                    {% endfor %}
                    </dd>
                    <dt>Sites</dt>
                    <dd>
                    {% for site in customer.get_site %}
                        <ul class="list-unstyled">
                            <li>{{ site.url }}</li>
                        </ul>
                    {% endfor %}
                    </dd>
                </dl>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No customers are available.</p>
    {% endif %}

{% endblock %}